{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="panel panel--raised" style="background-color:#f2f2f2; text-align:center;">
				<form method="post" enctype="multipart/form-data">
					<div class="row base-margin-bottom">
						<div class="col-1"></div>
						<div class="col-6" style="text-align:left;">
							<h1>{% block title %}<u>Custom Action</u>{% endblock %}</h1>
						</div>
						<div class="col-5"></div>
					</div>

					<div class="row base-margin-bottom">
						<div class="col-1"></div>
						<div class="col-10">
							<div class="steps steps--primary">
								<div class="step active">
									<div class="step__icon">1</div>
									<div class="step__label"><b>Setup</b></div>
								</div>
								<div class="step">
									<div class="step__icon" style="background-color:#ced4da;">2</div>
									<div class="step__label">Set Parameters</div>
								</div>
								<div class="step">
									<div class="step__icon" style="background-color:#ced4da;">3</div>
									<div class="step__label">Deploy</div>
								</div>
							</div>
						</div>
						<div class="col-1"></div>
					</div>
					<div class="row base-margin-bottom">
						<div class="col-8">
							<label for="siteDeviceTable"><u>Select Site Devices:</u></label>
							<div class="responsive-table" style="text-align:left; max-height:375px;">
								<table id="siteDeviceTable" class="table table--striped table--lined">
									<thead>
										<tr>
											<th></th>
											<th class="sortable">Hostname</th>
											<th class="sortable">Site</th>
											<th class="sortable">Family</th>
										</tr>
									</thead>
									<tbody>
										{% if device_list == [] %}
										<tr>
											<td></td>
											<td>Error!</td>
											<td>No Devices found from site file</td>
											<td></td>
										</tr>
										{% else %}
										{% for device in device_list %}
										<tr>
											<td><input type="checkbox" name="selectedDevice" value="{{ device['managementIpAddress'] }}"></td>
											<td>{{ device['hostname'] }}</td>
											<td>{{ device['snmpLocation'] }}</td>
											<td>{{ device['family'] }}</td>
										</tr>
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-2">
							<label for="templateSelection"><u>Select Template:</u></label>
							<select name="templateSelection" id="templateSelection">
							{% for project in project_list %}
								<optgroup label="{{ project['name'] }}">
								{% for template in template_list %}
									{% if template['projectId'] == project['id'] %}
									<option value="{{ template['templateId'] }}">{{ template['name'] }}</option>
									{% endif %}
								{% endfor %}
								</optgroup>
						   {% endfor %}
						   </select>
						</div>
					</div>
					<div class="row base-margin-bottom">
						<div class="col-4"></div>
						<div class="col-4">
							<input class="btn btn--primary btn--justified" type="submit" value="Start" style="background-color:#eed202;">
						</div>
						<div class="col-4"></div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
